laskarit/viikko2/htmlcov
laskarit/viikko2/.coverage
laskarit/viikko2/src/__pycache__
laskarit/viikko2/src/tests/__pycache__
laskarit/viikko2/unicafe/htmlcov
laskarit/viikko2/unicafe/.coverage
laskarit/viikko2/unicafe/src/__pycache__
laskarit/viikko2/unicafe/src/tests/__pycache__
